.card {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow:grey 0px 0px 10px;
    text-align: center;
  }

  /* Image */
  .card img {
    width: 100%;
  }

  /* Title */
  .card h1 {
    font-size: 24px;
  }

  /* Pricing information */
  .card p.price {
    font-size: 20px;
  }

  /* Description */
  .card p.description {
    font-size: 16px;
	  margin-left:80px;
    width:150px;
  }

  /* Buy Now Button */
  .card button {
    padding: 10px 20px;
    background-color:#FE625A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
